.countdown{
    margin-top: 70px;
    text-align: center;
    font-size: 48px;
    color: #805e46;
    width: 100%;
}

.timerText{
    position: absolute;
    color: #faf0dc;
}

.countTitle{
    font-family: 'Montez', cursive;
    font-size: 1em;
}

#timer{
    font-family: 'Aleo', serif;
    font-weight: 300;
    margin-top: 25px;
    font-size: 0.5em;
}

.countdown .imageContained{
    min-height: 0;
    width: 100%;
}

@media screen and (max-width: 1200px){
    .countdown{
        font-size: 48px;
    }
}

@media screen and (max-width: 1024px){
    .countdown{
        font-size: 48px;
    }
    
}
@media screen and (max-width: 768px){
    .countdown{
        font-size: 36px;
    }
    
}