.popup{
    /* background-color: #faf0dc; */
    background-color: #ffffff;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-container{
    position: absolute;
    width: 70%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: #a67a5b; */
    border: #a4b1a0;
    border-style: solid;
    border-width: 5px;
    /* background-color: rgba(250, 240, 220, 0.5); */
    background-color: rgba(255, 255, 255, 0.5);
    /* background-color: #faf0dc; */
}

.top-flower{
    position: absolute;
    bottom: 0px;
    right: -50%;
    width: 100%;
    transform: rotateZ(91deg);
}

.bot-flower{
    position: absolute;
    top: 0px;
    left: -50%;
    width: 100%;
    transform: rotateZ(-89deg);
}

.popup-text{
    position:absolute;
    text-align: center;
    margin-top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    /* color: #a67a5b; */
    color: #a4b1a0;
    /* background-color: rgba(250, 240, 220, 0.5); */
    background-color: rgba(255, 255, 255, 0.5);
}

.popup .invited{
    font-size: 0.5em;
    font-weight: 700;
}

.popup .wedding-celebration{
    font-family: 'palmaton';
    font-size: 1em;
    font-weight: 400;
    margin-bottom: 2%;
}

.popup .name{
    font-size: 2em;
}

.popup .open-invite{
    cursor: pointer;
    font-weight: 600;
    /* color: #a67a5b; */
    color: #a4b1a0;
    padding: 10px;
    position: absolute;
    bottom: -25px;
    /* border: #a67a5b; */
    border: #a4b1a0;
    border-style: solid;
    border-radius: 25px;
    border-width: 5px;
    background-color: rgb(255, 255, 255);
    transition: 0.3s;
    font-size: 17px;
}

.popup .open-invite:hover{
    /* color: rgba(250, 240, 220, 1);
    background-color: #a67a5b; */
    color: rgb(255, 255, 255);
    background-color: #a4b1a0;
}

.animate {
    animation-name: slide-up;
    animation-duration: 1s;
    /* Preserve the effect of the animation at ending */
    animation-fill-mode: forwards;
  }

@keyframes slide-up {
    from {
        transform: translateY(0px);
    }
    
    to {
        transform: translateY(calc(-100vh));
    }
}

@media screen and (max-width: 768px){
    .popup-text {
        font-size: 26px;
    }

    .popup .open-invite{
        font-size: 14px;
    }
}